################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################
*.db
*.opendb
*.ipch
*.exe
*.log
*.pdb
