################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################
*.db
*.opendb
*.ipch
*.exe
*.log
*.pdb
JustGrow/.vs/JustGrow/v16/.suo
JustGrow/.vs/JustGrow/v16/Browse.VC.db
JustGrow/.vs/JustGrow/v16/Browse.VC.db-shm
JustGrow/.vs/JustGrow/v16/Browse.VC.db-wal
JustGrow/Debug/JustGrow.exe
JustGrow/Debug/JustGrow.ilk
JustGrow/Debug/JustGrow.pdb
JustGrow/Debug/main.obj
JustGrow/Debug/vc142.idb
JustGrow/Debug/vc142.pdb
JustGrow/Debug/JustGrow.log
JustGrow/.vs/JustGrow/v16/.suo
JustGrow/.vs/JustGrow/v16/Browse.VC.db
JustGrow/Debug/JustGrow.exe
JustGrow/Debug/JustGrow.ilk
JustGrow/Debug/JustGrow.log
JustGrow/Debug/JustGrow.pdb
*.tlog
*.idb
*.pdb
*.vcxproj
/.vs
*.sln
*.filters
*.user
/JustGrow/Debug
/JustGrow/.vs/VSWorkspaceState.json
/JustGrow/.vs/ProjectSettings.json
/JustGrow/.vs/slnx.sqlite
*.manifest
*.testlog
*.obj
*.recipe
*.pch
*.txt
*.db-shm
*.db-wal
